ipdb
mujoco
matplotlib
scienceplots
scipy
termcolor
wandb
plotly
flask
flask_socketio
joblib==1.4.2
easydict
tqdm
joblib
git+https://github.com/ZhengyiLuo/SMPLSim.git@master
open3d
loguru
meshcat
onnxruntime
pyvicon_datastream
pynput
